<h1>Om Sentrum Aikido</h1>

<p>Sentrum Aikido er en relativt ny klubb, stiftet i 2007. Grunnlegger-medlemmene kom fra <a href="http://www.osi.uio.no/aikido">OSI Aikido</a> på Blindern, og det er fremdeles tette bånd mellom klubbene. </p>
	
<p>Instruktørene i Sentrum Aikido har relativt lang fartstid med 5-15 års erfaring.
Vi strever etter å ha jevn kjønnsfordeling og betydelig variasjon i alder blant medlemmene.
Klubben har forøvrig et hyggelig sosialt miljø utenfor selve treningen; ukentlige pub-besøk er en viktig klubbtradisjon.</p>



<p>
Sentrum Aikido trener i henhold til normal Aikikai-stil.
Vi har treningsøkter både for nybegynnere og avanserte.
Hvis du er interessert i Aikido, eller kunne tenke deg å begynne, 
er du hjertelig velkommen til å komme og se på en trening! Vi tar inn nybegynnere kontinuerlig gjennom hele året.
</p>


<p>
Sentrum Aikido opererer med en aldersgrense på 18 år.
</p>
