<h1>Hva er Aikido?</h1>

<p>Aikido er en japansk kampkunst for deg
som er mer interessert i å overvinne deg selv og utvide egne grenser,
enn å slåss mot andre. Det finnes ingen konkurranse i Aikido.
Siden målet er å bruke så lite rå styrke som mulig, så passer stilarten like godt for menn og kvinner i alle aldre.
Aikido gir deg kondisjonstrening, smidighet, god holdning, fysisk og mental avspenning samt 
økt selvsikkerhet og ro i spente situasjoner.
Sist, men ikke minst er det gøy!</p>



<h2>Tankegrunnlaget</h2>

<p>Hensikten med treningen er å utvikle en mentalitet og en
kroppsføring som samspiller med omgivelsene. Den mest naturlige
reaksjonen på et knyttneveslag vil være å gå unna og hindre videre
konfrontasjon. Teknikkene har til hensikt å uskadeliggjøre uten å
gjøre skade.</p>



<h2>Århundrer gamle tradisjoner</h2>

<p>Japanerne levde i et føydalsamfunn helt til midten av forrige
århundre. Da landet moderniserte og tok opp en vestlig livsstil, ble
noe av den gamle krigerkunsten foredlet og tatt vare på. Aikido er en
slik stilart, samlet i begynnelsen av vårt århundre. Aikido
trenes i dag over hele verden.</p>


<h2>Hvordan trener vi?</h2>

<p>En treningsøkt kan struktureres på mange måter, under beskriver vi hvordan en typisk treningsøkt ofte struktureres.
</p>

<h2>Oppvarming</h2>

<p>Trening innledes vanligvis av en oppvarming på 15-30 minutter, primært 
bestående av tøyeøvelser for å varme opp ledd og muskler.
Deretter trener man for eksempel litt fallteknikk, bestående av 
rulle-øvelser og falldempinger. 
Målet med dette er å gjøre det trygt og behagelig å bli felt eller kastet under trening
(fallteknikk-trening har ekstra høy prioritet på nybegynnerkurset). </p>


<h2>Teknikktrening</h2>


<p>Resten av økta går så vanligvis med til vanlig aikidotrening. 
Instruktøren demonstrerer en teknikk, hvorpå folk går sammen to og to for å trene den aktuelle teknikken.
En person angriper, den andre utfører en aikidoteknikk. 
Dette skjer typisk fire ganger eller mer før man skifter "roller", slik at den andre personen blir angriperen. 
I begynnelsen trener man med stiliserte og statiske angrep, dette for å la folk trene inn teknikken skikkelig. 
Når man er trygg på grunnleggende teknikk og fall kan man begynne å trene mot friere angrep, i høyere hastighet.
De fleste aikido-teknikkene består av å kaste eller felle samt eventuelt låse motstanderen. 
Dette skal skje med så lite rå muskelkraft som mulig fra den som utfører teknikk. </p>


<h2>Vil du vite mer?</h2>

<p><a href="http://www.sotnak.com/primer/">Her</a> finner du en svært fyldig 
artikkel om Aikido. <a href="http://www.aikidofaq.com/">The Aikido Faq</a> og <a href="http://www.aikiweb.com">Aikiweb</a> 
er de definitive web-referansene.
Den beste måten å finne ut hva Aikido dreier seg om er imidlertid å besøke oss og se på en trening!</p>
