<h1>Gode råd</h1>

<p>Du sitter sikkert med masse inntrykk etter å ha vært på noen få treninger. 
Kanskje har du sett Aikido bli demonstrert eller lest om denne særegne aktiviteten på forhånd. 
Muligens er du blant de heldige som har masse nybegynneriver og gleder seg til neste trening.
Kanskje tilhører du gruppen som synes Aikido er vanskelig og tungt. Uansett, pust dypt og slapp av.
Få beina ned på jorda. La de erfaringene du gjør deg gradvis bli dine egne. Ved å starte med en aktivitet
som Aikido tilfører du tilværelsen din noe nytt. Det er din egen motivasjon og ditt eget tempo
som bestemmer hvor fort det skal gå.</p>



<h2>Bli kjent med dojoen og miljøet</h2>


<p>Når man trer inn i dojoen (treningslokalet) de første gangene er det med et snev av bortkommenhet og nervøsitet.
Vi har alle vært gjennom dette. Vår erfaring er at jo fortere man kommer i kontakt med de andre og lærer miljøet 
å kjenne, jo fortere vil man trives og utvikles. Ta derfor gjerne del i aktivitetene utenfor treningene. Hjelp til og
vær med på å gi til samholdet. Ta vare på treningslokalet. 
Hold det rent. Føl at det er ditt, at det er din verden, og du kan være sikker 
på at progresjonen din blir tilfredsstillende.</p>


<h2>Når man blir lei</h2>

<p>Mange gir opp etter å ha trent en tid. Det er synd både for de som slutter og for miljøet som helhet.
Å trene Aikido passer ikke alle. Dersom du ønsker å lære å sloss, konkurranse eller noe som kan tilegnes over 
natten så er nok Aikido i utgangspunktet et dårlig valg. Vi tror imidlertid ikke dette er problemet. De fleste
som begynner har en viss oppfatning av hva Aikido går ut på. Likevel finner mange seg selv i en situasjon
der det blir tyngre og tyngre å trene og lengre og lengre mellom de gangene man trener.</p>


<p>

Vi som har holdt det gående har tatt dette til etterretning. Det finnes sikkert mye som ikke er perfekt. 
Dette ser vi på som vårt ansvar. I siste instans er det imidlertid deg selv det står på. Hva du får igjen i Aikido er proporsjonalt med
det du gir. Dette er ikke noe kurs eller en vare man betaler for og får resultatene automagisk i postkassa. Vi som har 
trent en stund kan bare vise deg veien og hjelpe til. Du må være instilt på å gå den selv.

</p>


<p>

Det beste rådet vi kan gi deg er å trene regelmessig. Ikke gå for hardt ut i begynnelsen. Velg ut to eller tre dager i uka og sett 
dem av til Aikido. Ikke godta dine egne unnskyldninger for å la være å gå på trening. De viktigste treningene foregår når det hadde
vært som mest deilig å sitte hjemme i godstolen, eller når vårsolen eller en kinotur lokker. Tren når du har mye arbeide eller mye å 
tenke på. Aikido gir avkobling og energi. Stå på litt ekstra dersom du føler deg frustrert eller nedenfor. Dette gjelder særlig 
når du støter på problemer med deg selv under treningen - hindringer, komplekser, forvirring, foruntatte meninger, stagnasjon. Det
er i slike perioder man utvikler seg mest.

</p>



<h2>Forutsetningen for at du skal utvikle deg på sikt</h2>

<p>Du må ha en åpen holdning. Som nybegynner er du heldig. Du er nysgjerrig og du lytter. Du ser og prøver å kopiere det som blir gjort.
Etter en stund fylles imidlertid hodet og mottakeligheten blokkeres. Det er som å motta te. Dersom man ikke drikker opp er det
ingen vits å be om mer i den samme koppen. Den nye teen vil bare få usmak fra den bitre og gamle, samtidig som det hele renner over.
Så for din egen del, uansett hvor lenge du har trent, behold ditt nybegynnersinn. Gjør du det vil hver trening bringe masse nytt og gi nye
innfallsvinkler og dypere innsikt.</p>



<p>

<i>Lykke til!</i>

</p> 
