<h1>Aikido nybegynnerkurs</h1>

<p> Nybegynner-tilpasset trening skjer <strong>mandag og
onsdag</strong> hver uke. Det er kontinuerlig opptak av nybegynnere,
bare ta kontakt med oss!  Formell påmelding er ikke nødvendig, og man
får en gratis prøvetrening før man må betale medlemsavgift. Det koster
1500,- pr halvår for nybegynnere.  </p>

<p> <a href='/startsider/provetime' class='button'>Gratis
 prøvetime!</a> </p>


<p>Treningen består konkret av tøyeøvelser, bevegelighetstrening,
fallteknikk og selvforsvar.  Det stilles ingen spesielle krav til god
form, koordinasjon og lignende for å begynne å trene hos oss; det får
du etterhvert! Aikido gir deg kondisjonstrening, god holdning, fysisk
og mental avspenning samt økt selvsikkerhet i spente situasjoner.
Sist men ikke minst : <strong>Aikido er gøy!</strong></p>

<p>
Veibeskrivelse og annen kontaktinformasjon finner du <a href="/home/contact">her</a>.
</p>
