<h1>Styret i Sentrum Aikido</h1>

<h2>Trond Pedersen, leder</h2>
<p>Tlf: 92263696<br/>
Epost: badboypedersen ved gmail.com</p>

<h2>Tor Anton Gaarder, nestleder</h2>
<p>Tlf: 95248050<br/>
Epost: tor.gaarder ved gmail.com</p>

<h2>Eivind Røkke, materialforvalter</h2>
<p>Epost: jinkenshin ved hotmail.com</p>

<h2>Kamilla Lundhaug, kasserer</h2>
<p>Epost: lundhaugan ved gmail.com</p>

<p><em>
Send mail til styret: <a href="mailto:sentrumaikido-styre@googlegroups.com">sentrumaikido-styre@googlegroups.com</a>
</em></p>
