<h1>Kalender</h1>

<style>
td {
   border: 1px solid;
   padding: 5px 10px 5px 10px;
}
</style>

<h2>Interne aktiviteter</h2>

<p><%= SentrumAikido::CMS.new.get_kalender %></p>

<h2>Eksterne aktiviteter</h2>

Se <a href="http://aikido.no/calendar">aikido.no</a> for en komplett
liste over norske Aikido-aktiviteter.

<!--<%= SentrumAikido::AikidoNoScraper.new.scrape_calendar  %> -->
