<h1>Kalender</h1>


<h2>Interne aktiviteter</h2>



<p><table id="event-list">
  <tr>
    <th>Tidspunkt</th>
    <th>Aktivitet</th>
    <th>Mer info</th>
  </tr>



  <tr class="list-line-odd">
    <td>24-26 april</td>
    <td>Fellestur til leir med Frank Ostoff i Trondheim</td>
    
    <td>
    
    </td>
    
  </tr>

  <tr class="list-line-even">
    <td>2-3 mai</td>
    <td>Hyttetur</td>
    
    <td>
    
    </td>
    
  </tr>

  <tr class="list-line-odd">
    <td>13-15 mar</td>
    <td>TK leir/gradering</td>
    
    <td>
    
    </td>
    
  </tr>

  <tr class="list-line-even">
    <td>5-7 juni</td>
    <td>Birgerleir (ikke verifisert)</td>
    
    <td>
    
    </td>
    
  </tr>


</table></p>



<h2>Eksterne aktiviteter</h2>

<p>  <p>
  <em>Dette er et automatisk uttrekk fra NAF-kalenderen, se <a href="http://www.aikido.no/index.php?option=com_oskalendar&Itemid=54">aikido.no</a> for mer info</em> 
  </p>
  
  <table border="0" id="scraped-calendar">
  	<tr><th>Tidspunkt</th><th>Sted</th><th>Aktivitet</th><th>Kontakt</th></tr>
  	<tr class="list-line-odd"><td>01-04. mars</td><td>Tromsø</td><td><b>Årlig vinterleir i Tromsø, vinterens vakreste... </td><td><a href="mailto:asbjorn.oskal@gmail.com">email</a></td></tr>
<tr class="list-line-even"><td>23-25. mars</td><td>Dragvoll Sportssenter i Trondheim</td><td><b>Helgeseminar med Mouliko Halén (6. dan Aikikai... <a class="info" href="http://tekisuikan.org/treningsleire/">les mer</a></td><td><a href="mailto:aikido-leder@list.stud.ntnu.no">email</a></td></tr>
<tr class="list-line-odd"><td>30-01. mars</td><td>Industrihuset, Bredalsmarken 17, 5006 Bergen</td><td><b>Seminar med Daniel Morales Sensei (5. dan aikik... <a class="info" href="http://bergenaikido.no/">les mer</a></td><td><a href="mailto:mauroaiello@live.com">email</a> (på engelsk)</td></tr>
<tr class="list-line-even"><td>20-22. april</td><td>Trondheim, idrettbygget Dragvoll</td><td><b>Leir med Bjørn Erik Olsen 6.dan.</b>... <a class="info" href="http://tekisuikan.org/treningsleire/">les mer</a></td><td><a href="mailto:haakon.fyhn@svt.ntnu.no">email</a></td></tr>
<tr class="list-line-odd"><td>27-01. april</td><td>Stavanger & Fjords</td><td><b>Fjords and Aikido Seminar with Fabrice Somers (... <a class="info" href="http://stavangeraikido.files.wordpress.com">les mer</a></td><td><a href="mailto:stavangeraikido@gmail.com">email</a></td></tr>
<tr class="list-line-even"><td>04-06. mai</td><td>Tenshinkan, Bentsebrugt. 13H, 0476 Oslo</td><td><b>Seminar med Thorsten Schoo, 5. Dan 
(student o... <a class="info" href="http://tenshinkan.no/wp-content/uploads/2012/01/Invit-Thorsten-Schoo04-06.05.12.pdf">les mer</a></td><td><a href="mailto:kontakt@tenshinkan.no">email</a></td></tr>
<tr class="list-line-odd"><td>11-13. mai</td><td>Aikikan Oslo, Konghellegt. 3, 0569 Oslo</td><td><b>Philippe Orban 6.dan leir hos Aikikan Oslo</b>... <a class="info" href="www.aikikanoslo.no">les mer</a></td><td><a href="mailto:kontakt@aikikanoslo.no">email</a></td></tr>
<tr class="list-line-even"><td>18-20. mai</td><td>Hadeland Folkehøyskole</td><td><b>Seminar med Sensei G.Koliopoulos 6th Dan Aikika... <a class="info" href="http://www.fudoshinkan.net">les mer</a></td><td><a href="mailto:aikidimi@online.no">email</a></td></tr>
<tr class="list-line-odd"><td>14-17. juni</td><td>Moelv (i nærheten av Hamar)</td><td><b>Moelv 2012 - Summer Camp with Mouliko Halén (6... <a class="info" href="http://www.facebook.com/events/102175513241692/">les mer</a></td><td><a href="mailto:mouliko@online.no">email</a></td></tr>
<tr class="list-line-even"><td>08-12. juli</td><td>Brandbu</td><td><b>NAF Sommerleir med Morito Suganuma Sensei og Bj... <a class="info" href="http://www.aikido.no">les mer</a></td><td><a href="mailto:kjetil.hatlebrekke@hotmail.com">email</a></td></tr>
<tr class="list-line-odd"><td>31-02. august</td><td>Oslo</td><td><b>JUBILEUMSLEIR! OSI Aikido 30 år/Sentrum Aikido... <a class="info" href="http://osjubileum.aikido.no/index.php/en/">les mer</a></td><td><a href="mailto:erlendhovelillebo@gmail.com">email</a></td></tr>
<tr class="list-line-even"><td>07-09. september</td><td>Dragvoll sportssenter, Trondheim</td><td><b>Seminar i Trondheim med Jiri Novotny (4. dan Ai... <a class="info" href="http://tekisuikan.org/treningsleire/">les mer</a></td><td><a href="mailto:aikido-leder@stud.ntnu.no">email</a></td></tr>
<tr class="list-line-odd"><td>14-16. september</td><td>Aikikan Oslo, Konghellegt. 3, 0569 Oslo</td><td><b>Philippe Orban 6.dan leir hos Aikikan Oslo. Gra... <a class="info" href="www.aikikanoslo.no">les mer</a></td><td><a href="mailto:kontakt@aikikanoslo.no">email</a></td></tr>
<tr class="list-line-even"><td>12-14. oktober</td><td>Trondheim</td><td><b>Seminar with Philippe Orban, 6. dan Aikikai</b>... <a class="info" href="http://www.trondheimaikido.no/seminars">les mer</a></td><td><a href="mailto:post@trondheimaikido.no">email</a></td></tr>
<tr class="list-line-odd"><td>09-11. november</td><td>Horten</td><td><b>Aikido-seminar med Dirk Müller sensei (5. dan ... </td><td><a href="mailto:kontakt-oss@renshin-aikido.no">email</a></td></tr>
<tr class="list-line-even"><td>30-02. november</td><td>Dragvoll Idrettssenter, Trondheim</td><td><b>Seminar med Jan Nevelius (6. dan Aikikai) </b>... <a class="info" href="http://tekisuikan.org/treningsleire/">les mer</a></td><td><a href="mailto:aikido-leder@stud.ntnu.no">email</a></td></tr>
 
  </table>
</p>
