<h1>Treningstider</h1>


<p><table>
<tr><th>Dag</th><th>  Klokkeslett</th><th>  Nivå</th>	<th>  Instruktør</th></tr>
<tr><td>Mandag </td><td> 18:30 - 20:00 </td><td>Grunntrening</td><td>Eivind</td></tr>
<tr><td>Onsdag</td><td> 18:00 - 19:30 </td><td>Fellestrening</td><td>Tor Anton</td></tr>
<tr><td>Torsdag</td><td> 19:00 - 20:30 </td><td>Grunntrening</td><td>Trond</td></tr>
<tr><td>Lørdag</td><td> 12:00 - 14:00 </td><td><a href="https://spreadsheets.google.com/pub?key=0Atwop62LC3l8dE1rWGQwdzBod000LW5MYWJ6ZlBIdnc&hl=en&single=true&gid=1&output=html">Fellestrening</a></td><td>(Rullerende)</td></tr>
</table>
</p>

<p>
Vi har kontinuerlig opptak på nybegynnerøktene, det er bare å ta
kontakt. Stikk gjerne innom en økt og slå av en prat med en
instruktør. Alle våre treninger foregår i sal 2, dvs salen som har blå
og røde matter på gulvet.
</p>

<p>
 <a href='/startsider/provetime' class='button'>Gratis prøvetime!</a>
</p>


<h2>Kommentar til nivåene:</h2>

<p><strong>'Grunntrening'</strong> er spesielt egnet for nybegynnere, men alle medlemmer kan delta<br/>
<strong>'Fellestrening'</strong>: Nybegynnere oppfordres til 1-2 mnd
ren grunntrening før man deltar på fellestreningene, siden de fordrer
litt grunnleggende fallteknikk.<br/>
<strong>'Vintertrening'</strong>:Som fellestrening, men kjøres bare i
vintersesongen dvs fra og med oktober til og med mars.<br/></p>
