<h1>Treningstider</h1>




<p>
<%= SentrumAikido::CMS.new.get_treningstider()  %>
</p>

<p>
Vi har kontinuerlig opptak på nybegynnerøktene, det er bare å ta
kontakt. Stikk gjerne innom en økt og slå av en prat med en
instruktør. Alle våre treninger foregår i sal 2, dvs salen som har blå
og røde matter på gulvet.
</p>

<p>
 <a href='/startsider/provetime' class='button'>Gratis prøvetime!</a>
</p>


<h2>Kommentar til nivåene:</h2>

<p><strong>'Grunntrening'</strong> er spesielt egnet for nybegynnere, men alle medlemmer kan delta<br/>
<strong>'Fellestrening'</strong>: Nybegynnere oppfordres til 1-2 mnd
ren grunntrening før man deltar på fellestreningene, siden de fordrer
litt grunnleggende fallteknikk.<br/>
<strong>'Vintertrening'</strong>:Som fellestrening, men kjøres bare i
vintersesongen dvs fra og med oktober til og med mars.<br/></p>
