<h1>Kontaktinformasjon for Sentrum Aikido</h1>

	<h2>Besøksadresse</h2>

	<p>Vi holder til hos Oslo Karateklubb, i lokalene under Coop Prix (ned noen trapper).
	Klikk på kartet under for å orientere deg i området.</p>


	<p>

	<a href="http://www.finn.no/finn/map?utmx=264031&amp;utmy=6649067&amp;mapTitle=BRINKEN+20,+0654%20Oslo">
<img id="map" alt="Kart" src="/images/webGrafikk/kart.jpg?1235155872" />
</a>

	</p>

	<h2>Postadresse</h2>

<p>		Sentrum Aikido v/ Oslo Karateklubb<br />
		Brinken 20<br />
		0654 OSLO<br /></p>


		<h2>E-post</h2>

	<p>	Klubben har flere e-postlister og alle kan sende e-post til disse listene.
		Mail som sendes fra ikke-medlemmer blir moderert før de slipper gjennom.
		Alle kan melde seg på listen for medlemmer. Listene for styre og instruktører er lukket. </p>


		<p>

<table border="0">
	<tr><td>Alle medlemmer</td><td><a href="mailto:sentrumaikido-medlemmer@googlegroups.com">sentrumaikido-medlemmer@googlegroups.com</a></td></tr>
	<tr><td>Instruktører</td><td><a href="mailto:sentrumaikido-trenere@googlegroups.com">sentrumaikido-trenere@googlegroups.com</a></td></tr>
	<tr><td>Styret</td><td><a href="mailto:sentrumaikido-styre@googlegroups.com">sentrumaikido-styre@googlegroups.com</a></td></tr>
</table>

    	</p>

		<h2>Administration av web og epost</h2>

    <p>
		Dersom du har kommentarer til websiden eller trenger hjelp med email, ta kontakt med <a href="mailto:thomas@kjeldahlnilsson.net">thomas@kjeldahlnilsson.net</a>
    </p>
