<h1>Pensum for nybegynnere</h1>

<p>På nybegynnertreningene vil vi blant annet sørge for å gå gjennom det som er pensum til den første graderingen (6.kyu). 
På denne sida beskriver vi hva dette omfatter. Bruk gjerne denne sida som et "kompendium" under nybegynnerkurset. 
Tenk deg om - lærte du noen av tingene beskrevet under på den forrige treningen? 
Spesielt japanske utrykk kan være vanskelig å få med seg mens man er på matta.</p>



<h2>Bukk (rei)</h2>

<p>Den viktigste delen av etiketten vår er å gjøre et korrekt bukk.</p>



<h2>Positur (kamae)</h2>

<p><strong>Hidari kamae</strong> og <strong>migi kamae</strong>, utgangsstilling 
med henholdsvis venstre og høyre ben og hånd ledende frem. 
Hendene danner en "guard" rett foran deg, med en hånd høyt og en lavt.</p>



<h2>Fotarbeid (taisabaki)</h2>


<p>Følgende steg danner grunnlaget for alle teknikkene våre:</p>


<p><table>
<tr><td><strong>Irimi</strong></td><td>Et skritt rett frem</td></tr>
<tr><td><strong>Tenkan</strong></td><td>En pivotering rundt det ene benet</td></tr>
<tr><td><strong>Sokumen</strong></td><td>Et steg litt til siden og frem, for så å snu kroppen motsatt retning</td></tr>
</table></p>






<h2>Fallteknikk (ukemi)</h2>

<p>Følgende fallteknikker gjør at man trygt kan trene alle teknikkene våre:</p>

<p><table>
<tr><td><strong>Mae ukemi</strong></td><td>Fremover rulle</td></tr>
<tr><td><strong>Ushiro ukemi</strong></td><td>Bakover rulle (to varianter)</td></tr>
<tr><td><strong>Mae shokuto ukemi</strong></td><td>Fremover falldemping</td></tr>
<tr><td><strong>Yoko shokuto ukemi</strong></td><td>Falldemping til siden</td></tr>
<tr><td><strong>Ushiro shokuto ukemi</strong></td><td>Falldemping bakover</td></tr>
</table></p>




<h2>Stående teknikker (tachi waza)</h2>


<p>Følgende er de kombinasjonene av angrep og teknikker som er pensum på første gradering:</p>


<p><table>
<tr><td><strong>Angrep</strong></td><td><strong>Hvilken hånd?</strong></td><td><strong>Teknikk</strong></td></tr>
<tr><td>Katatedori (håndleddsgrep)</td><td>Gyuaku hamni</td><td>Shihonage</td></tr>
<tr><td>Katatedori (håndleddsgrep)</td><td>Ai hamni</td><td>Ikkyo</td></tr>
<tr><td>Shomen uchi (rett håndkantsslag)</td><td></td><td>Ikkyo</td></tr>
<tr><td>Shomen uchi (rett håndkantsslag)</td><td></td><td>Irimi nage</td></tr>
</table></p>





<p>

<strong>Shihonage</strong> ("fire hjørners kast") er et kast der man griper og kaster partner via hans håndledd. 
Partner ender låst på bakken med armen sin bøyd inntil hodet og håndleddet sitt inntil øret.

</p>





<p>

<strong>Ikkyo</strong> ("første prinsipp") er en felling av motstander ved å lede armen hans opp, ned og ut til siden, etterfulgt av steg inn mot ham. 
Teknikken ender i en sittende lås hvor partners håndledd og armbueledd kontrolleres. 

</p>





<p>

<strong>Irimi nage</strong> ("entringskast") er et kast der man går inn bak partner, trekker partner ut av balanse, 
kontrollerer partners hode inntill skulderen sin, og kaster partner ved å "kutte" hodet hans opp og gå inn på tvers bak ryggen hans.

</p>




<h2>Sittende teknikker (suwari waza)</h2>


<p>Teknikker fra sittende stilling er et viktig verktøy for å lære seg de tilsvarende stående teknikkene korrekt. 
Når man sitter på kne er det vanskeligere å "jukse" med fotarbeidet.</p>


<p>

<strong>Shikko</strong> er å flytte seg rundt ved å gå på knærne. Man kan gå både fremover ("mae") og bakover ("ushiro"). 

</p>




<p>

<strong>Suwariwaza shomenuchi ikkyo</strong> er samme teknikk som beskrevet over, bare utført på knærne. 

</p>



<p>

<strong>Suwariwaza shomenuchi irimi nage</strong> er samme teknikk beskrevet som over, bare utført på knærne. 

</p>



<p>

<strong>Suwariwaza kokyu ho</strong> ("pustekast") er en sittende øvelse for å trene på avslapning,
ekstensjon i armene samt riktig bruk av håndledd. Partner griper begge håndleddene,
og man gjør et avslappet "kutt" oppover med begge hendene sine for å få partner ut av balanse. Partner kan så puffes ned til høyre eller venstre. 

</p>
