<h1>Information for english speakers</h1>

<p>Welcome to a new Aikido dojo in eastern Oslo. We are a group of 20 enthusiastic and friendly 
Aikido practicioners with between 0 and 15 years experience, and we welcome new members! 
We are a mainstream Aikikai-style dojo. Classes are currently held three times a week, the skill level 
of the classes are adapted to both beginners and advanced students. If you are interested in Aikido, and 
are considering trying it out, feel free to drop by. Classes are open for spectators and the instructors are 
happy to answer questions after the class. We accept beginners continously throughout the year. </p>

<p>
If you wish to contact us, please do so by email or directly through one of our <a href="/home/instructors">instructors</a>.
</p>


<h2>E-mail</h2>

<p>All members:<a href="mailto:sentrumaikido-medlemmer@googlegroups.com">sentrumaikido-medlemmer@googlegroups.com</a></p>

<p>Instructors and senior members: <a href="mailto:sentrumaikido-trenere@googlegroups.com">sentrumaikido-trenere@googlegroups.com</a></p>

<p>The board: <a href="mailto:sentrumaikido-styre@googlegroups.com">sentrumaikido-styre@googlegroups.com</a></p>

<p>Web and maillist administrator: <a href="mailto:thomas@kjeldahlnilsson.net">thomas@kjeldahlnilsson.net</a></p>


<p>
Our dojo is located at Kampen in the eastern part of central Oslo.
The adress is Brinken 20. We share premises with Oslo Karateklubb under the convenience store at that adress.
The easiest way to get there is to take the subway to Tøyen, or bus 20 to the bus stop right outside the dojo.
Click the map below to orient yourself in the area.
</p>

<p>
<a href="http://www.finn.no/finn/map?utmx=264031&amp;utmy=6649067&amp;mapTitle=BRINKEN+20,+0654%20Oslo">
<img alt="Map" src="/images/webGrafikk/kart.jpg?1235155872" />
</a>
</p>
