<h1>Aikido-etikette</h1>

<p>Aikido har i likhet med andre tradisjonelle stilarter et visst fokus på korrekt etikette under trening.
Disse rutinene kan virke noe formelle og uvante i begynnelsen. 
Poenget med dem er imidlertid ikke å innføre noen militær kadaver-disiplin. 
De gir rett og slett bare klare, trygge og respektfulle rammer rundt det vi gjør på treningene. 
Dojo-etiketten er forøvrig stort sett identisk uansett hvor i verden man drar, noe som gjør at man vanligvis føler seg "hjemme"
når man besøker en Aikido-klubb i et hvilket som helst land!</p>



<h2>Bukking</h2>


<p>Rei (bukk, hilsen) står meget sentralt i all budo (kampkunst) og inngår som den viktigste delen av etiketten i dojoen.  
Rent praktisk virker rei som et fysisk og psykisk klarsignal ved innledning av trening eller oppstart av teknikk. 
På denne måten innleder rei en gradvis økt konsentrasjon og oppmerksomhet som kreves når en kommer inn i dojoen, 
når treningen starter og når en står overfor en partner. I motsatt rekkefølge virker rei som et avslutningssignal 
etter fullført teknikk eller fullført trening. </p>


<p>


Videre utføres rei for å vise takknemlighet for at en har et sted å trene og at en har noen å trene med. 
Likeledes gjøres rei for å vise respekt og takknemlighet til de som har utviklet Aikido, 
de som holder kunsten vedlike og de som overfører sine kunnskaper til de trenende. 

</p>





<p>

Til sist har rei en symbolsk funksjon i det at en må bøye seg og vise kontroll over seg selv, 
noe som er forutsetning for å kunne trene budo. Rei må gjøres helhjertet på en korrekt og ærbødig måte, 
med et rolig og takknemlig sinn, ellers har det ingen funksjon. 
Denne følelsen må i størst mulig grad bevares under og etter treningen. 

</p>




<h2>Standard etikette i under Aikido-trening</h2>


<p>Reglene under er standard for alle Aikido-klubber, og i likhet med oss har mange klubber disse retningslinjene 
slått opp på veggen i dojoen.</p>


<p><ol>
<li>Overhold den etikette som gjelder for dojoen og før en diskret fremtreden. </li>
<li>Vis respekt for den som instruerer og de du trener sammen med. </li>
<li>Vær oppmerksom, følg instruksjonen nøye og ha et åpent sinn. </li>
<li>Unngå prat under treningen. </li>
<li>Ha en positiv innstilling og yt ditt beste. </li>
<li>All trening skal følge aikidos hovedprinsipp om kimusubi (harmoni, kontakt og korrekt bruk av ki). </li>
<li>All trening skal foregå på en smidig måte med klart definert angrepsform og teknikk, slik at en unngår konfrontasjon, konkurranse eller aggressivitet.</li> 
<li>Vis forsiktighet og unngå skader. Avpass treningen etter dine egne og partnerens ferdigheter. </li>
<li>Vær nøye med personlig hygiene. Ha ren drakt og kortklippede negler. Langt hår bindes opp, klokke og smykker tas av. Tyggegummi og lignende må ikke brukes. </li>
<li>Tren regelmessig og ta del i de plikter som følger med trenings og klubb-virksomhet. </li>
</ol></p>



<h2>Uskrevne regler</h2>

<p>Noen ting er ikke eksplisitt skrevet ned i standard-reglene, men er like fullt kotyme.
Følgende ting er "uskrevne regler" i de fleste klubber:
</p>


<p><ol>

<li>
"Bukk inn" og "bukk ut igjen" mot fronten av dojoen (portrettet av grunnleggeren) når du henholdsvis ankommer og forlater dojoen.
</li>

<li>
Treningen innledes med at ansvarlig instruktør og utøverne bukker. Først mot fronten av dojoen, og så til hverandre. 
Både instruktør og utøvere sier samtidig <i>"Onegai shimazu!"</i>. Dette uttales "åne gai shimas", løst oversatt blir dette <i>"Vær så snill" [å la meg lære av deg!]</i>. 
Treningen avsluttes med tilsvarende bukking, da sier alle istedet <i>"Domo arigato gazaimashita!"</i>. Dette uttales "dåmå arigatå gåzaimas", løst oversatt blir dette <i>"Tusen takk!"</i>.
</li>


<li>
Vi trener i par, og skifter normalt treningspartnere mellom hver teknikk. 
Dersom det er oddetall i salen blir en person til overs. Da må denne personen bli med det nærmeste paret og lage en gruppe på tre med dem.
</li>


<li>
Bukk til partneren din når du skal begynne å trene, og etter at dere har trent teknikk. 
Man kan med fordel også være hyggelig og si henholdsvis <i>"Onegai shimazu!"</i> før og <i>"Domo arigato gozaimashita!"</i> etter å trent sammen, samt eventuelt spørre hva den andre personen heter hvis man ikke har møtt hverandre før.
</li>


<li>
Instruktør og utøvere bukker til hverandre etter at ansvarlig instruktør har vist teknikk i fellesskap. 
Man bukker i tillegg til instruktøren etter at han eller hun har kommet forbi og hjulpet deg med en teknikk under treningen.
</li>


<li>
Før treningen begynner bør må man ta av alle smykker, klokker og lignende. Eventuelt kan piercing og lignende tapes over.
Dette gjør vi fordi smykker av hvilket som helst slag øker muligheten for skader under trening.
Forøvrig er det vanlig å binde opp langt hår, dette for å slippe at folk tramper på det under trening!
</li>


<li>
Si ifra til instruktøren dersom du må forlate salen før treningens slutt, har blitt skadet eller lignende!
Dette for at instruktøren skal ha oversikt over hvem som er til stede til enhver tid, og være orientert dersom noen får skader eller andre problemer.
</li>



<li>
Dersom du får en mindre skade som for eksempel skrubbsår, en brukket negl eller lignende, si ifra til instruktøren. 
Førstehjelpsskrin ligger tilgjengelig i bakrommet ved salen vår.
Dersom man har vært uheldig og laget noen blodflekker på matta i sammenheng med en liten skramme, 
så bør man selv hente litt tørkepapir og fjerne flekkene (etter først å ha plastret seg selv).
</li>


<li>
Unngå å komme for sent på trening. 
Hvis treningen har startet når du kommer, kunngjør at du entrer rommet ved å høyt si "ONE GAI SHIMASU".
Også dette er for at instruktøren skal ha god oversikt over hvem som er tilstede på treningen.
</li>



<li>
Man bør sørge for å ha drukket nok vann før trening, 
siden vi ikke pleier å ta med vannflaske eller ha drikkepauser. 
Unntaket er dersom det er svært lange eller intense treninger - da hender det at instruktøren gir folk en felles drikkepause.
</li>


<li>
Utrykket "sensei" brukes gjerne om instruktører i japanske kampsporter. Ordet betyr løst oversatt "lærer" på japansk, 
men har en del kulturell baggasje. I det norske Aikido-miljøet kaller vi derfor normalt ikke instruktørene våre "sensei". 
Vi bruker det derimot om og til de japanske instruktørene vi har besøk av og drar på besøk til, siden etiketten er slik hos dem.
</li>


</ol></p>
