<h1>Vanlige spørsmål</h1>

Vi får en del vanlige spørsmål fra nybegynnere og interesserte. Her er noen av svarene våre.


<h2>Hva slags utstyr kreves?</h2>


Når man begynner å trene så trenger man bare noe lett treningstøy, for eksempel en joggebukse og en t-shirt. 
Vi trener uten sko, vanligvis barbent. Når man har holdt på en stund er det vanlig å kjøpe en gi (ser ut som en judo eller karate-drakt).
En slik drakt er mye mer behagelig å trene i samt tåler mye mer enn vanlig treningstøy. Alle som ønsker å gå opp til gradering skal ha en gi.
Det er mulig å kjøpe drakt av klubben.   


<h2>Hvilke forutsetninger kreves for å trene Aikido?</h2>

Det er en fordel å være positiv og lærevillig. 
Det kreves imidlertid ingen spesielle fysiske forutsetninger for å trene hos oss.
Teknikkene skal fungere uten å bruke styrke.
Treningen passer like godt for kvinner og menn.



<h2>Kan man trene dersom man har skader eller andre begrensinger?</h2>

Dersom man for eksempel har en dårlig rygg, gamle kneskader, motorikk-problemer eller lignende 
så lar det seg likevel gjøre å trene hos oss. Treningsformen vår kan tilpasses etter den enkeltes begrensninger, men man bør ta
opp dette med instruktør i forkant.


<h2>Forekommer det mange skader?</h2>

Nei, treningsformen vår er svært kontrollert og har sjelden alvorlige skader.
Skadefrekvensen er lavere enn i de fleste idretter.



<h2>Hvordan fungerer graderingssystemet?</h2>

Vi har bare to beltefarger hos oss: hvitt og svart. Det er 6 grader av hvitt belte, såkalte kyu-grader. Man tar dem i synkende rekkefølge: 6. kyu, 5. kyu, 4. kyu og så videre. 
Når man har stått på gradering til halvparten av disse, dvs 3. kyu, så kan man bære den karakteristiske vide, svarte buksa (hakama). 
Dette tar minimum to og et halvt år. Svart belte oppnår man etter (totalt) minimum fire og et halvt år, det vanlige er seks til åtte år. 
Det er grader av svart belte også, disse gradene kalles dan-grader og oppnås i stigende rekkefølge: 1.dan, 2.dan, 3.dan og så videre. 
Den høyeste graden er 9. dan og tildeles vanligvis bare posthumt.



<h2>Må jeg gradere meg?</h2>

Nei. Vi anbefaler at folk prøver seg på graderinger, men det er noe man får gjøre i eget tempo når 
man føler seg klar for det. Graderinger er imidlertid svært nyttig, siden man gjerne har et litt mer 
aktivt og strukturert forhold til det man lærer når man har tenkt å bestå en prøve i det senere!



<h2>Hvorfor er det ikke fargede belter i Aikido?</h2>

Tradisjonelt sett er det ikke fargede belter i japansk kampkunst. Vi har i Aikido ikke sett noen grunn til å innføre fargede belter.



<h2>Er det forskjellige nivåer på ulike treninger?</h2>

Vi pleier normalt å holde trening for nybegynnere på egne dager, dette for at de som er nye skal få lært grunnleggende kroppsbevegelser og fallteknikk. 
Når man er trygg på dette, normalt etter en til to måneder, så er det fritt frem å gå på de andre treningene våre i tillegg. 
På en standard trening trener alle med alle, uansett nivå. Selv om den ene personen har trent i 30 år og den andre i 3 uker, 
så kan begge to lære seg noe nytt av å trene med hverandre. 



<h2>Hvor hardt trener vi?</h2>

Alt fra meditasjon til "blodsmak i kjeften" kan oppleves på matta hos oss.
Intensitet under Aikido-trening kan til stor grad justeres av utøveren. Man "får tilbake det man gir" for å si det slik. 
Dette gjør det mulig å tilpasse tempoet etter egen kropp, kondis og kunnskap.


<h2>Får man noe styrketrening av det?</h2>

Ja. Når man trener Aikido med god innsats så får man kondistrening, bedre bevegelighet, rettere rygg og bedre holdning. 
Muskulaturen hele kroppen, men særlig mage, hofte, lår og legger blir styrket.
Forøvrig erfarer mange av oss at treningen virker forebyggende mot "kontorskader" som musearm, vond og stiv nakke og lignende.



<h2>Men "funker det", da?</h2>

Aikido er basert på kampteknikker som samuraiene med hell brukte på slagmarken i det gamle Japan. 
Aikido er ikke "dans", og det skal være en kjerne av alvor i det man gjør når man trener korrekt. 
Det er imidlertid viktig å være klar over at det tar tid å lære seg Aikido. 
Hvor lang tid man må trene Aikido før man kan forsvare seg selv strides de lærde om. 
De fleste er imidlertid enige om at sjansene for å unngå, løse eller eventuelt fysisk håndtere en voldelig situasjon blir bedre jo lenger man har trent.


<h2>Finnes det teknikker mot spark i Aikido?</h2>


Nesten enhver Aikido-teknikk kan brukes mot spark. Man ser på det som et slag som kommer nedenfra. Det
kreves imidlertid svært god fallteknikk for å kunne være angriper i en teknikk mot spark. Derfor venter man gjerne til
man har fått 1. dan før man begynner å trene med slike angrepsformer.


<h2>Hvor ofte bør man trene?</h2>

To økter i uka gir jevn progresjon for de fleste, og dersom man trener tre ganger eller mer i uka går det betydelig fortere fremover.


<h2>Hva kjennetegner en god Aikido-utøver?</h2>

Åpenhet, lærevillighet og tålmodighet. Ting er ikke lært på en-to-tre!
