<h1>Lyst på både fysisk og mental trening?</h1>

<p>Vi er en gruppe med omgjengelige folk som trener <a
href="/home/about_aikido">Aikido</a> i Gamlebyen i Oslo, og vi ønsker
nye medlemmer hjertelig velkommen!</p>

<p>
 <a href='/startsider/provetime' class='button'>Gratis prøvetime!</a>
</p>

<h2>Kropp og sinn</h2>

<p>Dette er trening med innhold; vi utfordrer både kroppen og huet på trening.</p>

<p>Kroppen lærer seg ny motorikk - vi blir mykere, sterkere og mer utholdende. Vi blir slitne etter trening, 
og vedlikeholder kroppen på en bærekraftig måte. Samtidig trener vi på mental tilstedeværelse, konsentrasjon og avslappelse.
Begge aspekter av treningen er nyttige i hverdagen vår.
</p>


<h2>Treningsglede</h2>

<p>Det viktigste for oss i Sentrum er treningsglede. Det skal være gøy å trene og naturlig å komme tilbake på trening.
Dette oppnår vi ved å utfordre oss selv fysisk og mentalt - med trygge rammer rundt.</p>


<h2>Hyggelig miljø</h2>

<p>Vi har et godt <a href="/home/social">sosialt miljø</a>. Sentrum
Aikido er en inkluderende gjeng, noe som sveiser klubben sammen og gir
trygge rammer rundt treningen. Vi er like gode venner selv om vi
kaster hverandre hardt i bakken iblandt.</p>

<h2>Vil du vite mer?</h2>

<p>Ta kontakt og avtal en prøvetime! Du kan også finne svar på en del spørsmål <a href="/home/faq">her</a>.</p>
