<h1>Instruktører hos Sentrum Aikido</h1>


<p><table>

<tr>
<td>

<strong>Tor Anton Gaarder (3. dan)</strong><br/>
Jolly Kramer-Johansens gate 2<br/>
0475 Oslo <br/>
Tlf: 952 48 050<br/>
<a href="mailto:tor.gaarder@gmail.com">tor.gaarder@gmail.com</a>

</td>
<td>
<img alt="Tor Anton" height="150" src="/images/webGrafikk/trenere/toranton.jpg?1235155870" />

</td>
</tr>



<tr>
<td>

<strong>Trond Pedersen (1. dan)</strong><br/>
Tlf: 922 63 696<br/>
<a href="mailto:badboypedersen@gmail.com">badboypedersen@gmail.com</a>

</td>
<td>
<img alt="Trond" height="150" src="/images/webGrafikk/trenere/trond.jpg?1235155870" />
</td>
</tr>



<!--
<tr>
<td>

<strong>Kamilla Lundhaug (1.dan)</strong><br/>
Tlf: 413 18 738<br/>
<a href="mailto: lundhaugan@gmail.com">lundhaugan@gmail.com</a>
</td>
<td>
<img alt="Kamilla" height="150" src="/images/webGrafikk/trenere/kamilla.jpg?1235155870" />
</td>

</tr>
-->

<!--
<tr>
<td>

<strong>Erlend (1.dan)</strong><br/>
Tlf: 413 18 738<br/>
<a href="mailto: lundhaugan@gmail.com">lundhaugan@gmail.com</a>
</td>
<td>
<img alt="Kamilla" height="150" src="/images/webGrafikk/trenere/kamilla.jpg?1235155870" />
</td>

</tr>
-->

<tr>
<td>
<strong>Eyvind Røkke (1.dan)</strong><br/>
Tlf: 928 26 964<br/>
<a href="mailto: jinkenshin@hotmail.com">jinkenshin@hotmail.com</a>
</td>
<td>
<img alt="Eivind" height="150" src="/images/webGrafikk/trenere/eyvind.jpg?1315847408" />
</td>

</tr>



</table>
</p>



<p>
Klubbens tekniske kommite består av Jo Ring Giske og Tor Anton Gaarder.
</p>
