<!doctype html>
<html>
  <head>
	<title>Sentrum Aikido</title>
  	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">

	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="js/libs/modernizr-1.7.min.js"></script>
  
  </head>
  <body>

    	<%= yield %>
        	
  </body>
</html>
