<h1>Lenker</h1>

<h2>Søsterklubben vår på Blindern</h2>

Sentrum Aikido ble grunnlagt av medlemmer fra <a href="http://www.osi.uio.no/aikido">OSI Aikido</a>, og klubbene fortsetter å ha tett kontakt.


<h2>Forbund</h2>


Gjennom disse nettstedene kan du finne andre klubber i Norge og utland.


<ul>
	<li><a href="http://www.aikido.no/index.php?option=com_content&amp;task=view&amp;id=12&amp;Itemid=26" >Norges Aikido Forbund (vårt forbund)</a></li>
  <li><a href="http://www.aikikan.no/" >Aikikan Norge</a></li>
	<li><a href="http://www.bafonline.org.uk/" >British Aikido Federation</a></li>
	<li><a href="http://www.budo.se/aikido/" >Svenska Aikikai</a></li>
</ul>


<h2>Noen klubber i utlandet</h2>

Dette er noen klubber vi har hatt en eller kontakt med, for eksempel gjennom å reise på seminarer eller få besøk av deres instruktører.

<ul>
  <li><a href="http://www.geocities.com/Tokyo/Dojo/8846/home.htm" >Suganuma Shihans' Shohei Juku Aikido</a></li>
  <li><a href="http://www.aikido-dojo.net/english/index.html" >Frank Ostoffs Aikido Dojo Dusseldorf</a></li>
  <li><a href="http://www.vanadis-aikido.se/" >Vanadis Aikidoklubb</a></li>
  <li><a href="http://homepage3.nifty.com/aikido_sakudojo/" >Endo Shihans' Saku Dojo</a></li>
</ul>


<h2>Generell informasjon</h2>

<ul>
  <li><a href="http://www.aikido.no/" >Norsk aikido-portal tilknyttet NAF</a></li>
  <li><a href="http://www.aikidofaq.com/" >The Aikido Faq</a></li>
  <li><a href="http://www.aikiweb.com" >Aikiweb</a></li>
  <li><a href="http://www.sotnak.com/primer/" >Aikido Primer (god artikkel for nybegynnere)</a></li>
  <li><a href="http://aikido.no/naf/Norsk/gradering.html" >Graderingsinformasjon</a></li>
  <li><a href="http://kampforum.no/forum/index.php/board,28.0.html" >Kampforum.no - Aikido</a></li>
</ul>



<h2>Utstyr</h2>


<ul>
  <li><a href="http://www.fighter.no/" >Fighter Sport (skandinavisk forhandler)</a></li>
  <li><a href="http://www.bujindesign.com/" >Bujin Design (amerikansk forhandler)</a></li>
  <li><a href="http://www.tozando.com/" >Tozando (japansk forhandler)</a></li>
</ul>
