
<h1>Marc Bachraty seminar</h1>

<p>Sentrum Aikido is proud and happy to invite you all to our seminar
with Marc Bachraty. For the first time in Oslo, Norway.</p>

<p>Marc Bachraty is one of Christian Tissier Shihan's top students. He
has trained Aikido since 1985, from the age of 16, and has held
several seminars both in Sweden and Stavanger, and is thus starting to
build a real presence in the Nordic countries.</p>

<p>We are very happy that we now, in cooperation with Stavanger Jushinkan
Aikido dojo, can invite Marc to Oslo.</p>

<p>In addition to Aikido, Marc also uses Kashima Shin Ryu (Bokken/Sword
exercise) at his seminars.</p>

<p>We are looking forward to a exciting weekend.</p>

<p>Bring your friends and join us!</p>

<p>Stay tuned for more information.</p>