<h1>Aikido-personligheter</h1>

<h2>Ueshiba, Morihei - "O Sensei" (1883-1969)</h2>

<p> 
Grunnleggeren av Aikido. Ueshiba trente som liten både Kendo og flere former for jujutsu.
Senere kom han i kontakt med Sokaku Takeda, som introduserte ham til Daito Ruy Aikijutsu. Ueshiba fikk etter relativt kort tid tillatelse til å undervise i denne kunsten. Basert på blant annet denne stilarten uviklet han fra ca. 1930 og frem til sin død  det som i dag kalles Aikido. Betegnelsen Aikido ble først brukt i tiden rundt 2. verdenskrig.
</p> 
 
<p> 
Video fra 1935 <a href="http://www.youtube.com/watch?v=98yRuBkUBGQ">her</a> (Youtube) <br /> 
Video fra 1969 <a href="http://www.youtube.com/watch?v=XoDK3XuvZWw">her</a>. (Youtube)
</p>


<h2>Ueshiba, Kisshomaru (1921-1999)</h2>

<p> 
Sønn av grunnleggeren, og dermed den andre "doshu". Han begynte å trene med sin far ca 1937. Kisshomaru Ueshiba var utdannet i økonomi ved Waseda Universitetet. Han blir ofte kalt primus motor bak kampkunstens spredning og internasjonale popularitet.
</p> 
 
<p> 
Video fra 1962 <a href="http://www.youtube.com/watch?v=dBdpW0hqSYs">her</a> (Youtube) <br /> 
Video fra 1974 <a href="http://www.youtube.com/watch?v=mWDarXIrv5k">her</a>. (Youtube)
</p>


<h2>Ueshiba, Moriteru - "Doshu" (Født 1951)</h2>

<p> 
Sønn av Kisshomaru Ueshiba. Nåværende leder for organisasjonen Aikikai. Besøkte Norge i 1997 i forbindelse med norsk Aikidos 20-årsjubileum, og igjen i 2007 for 30-årsjubileumet.
</p> 
 
<p> 
 
 <br /> 
Video fra Norgesbesøk <a href="http://www1.nrk.no/nett-tv/klipp/270247">15. juli 2007</a>. Innslag om jubileumsleiren begynner etter ca. 11m 30s. (NRK Sportsrevyen) <br /> 
Video fra 2009 <a href="http://www.youtube.com/watch?v=9ox--9VPaug">her</a>. (Youtube)
</p>



<h2>Suganuma, Morito - 8.dan Aikikai (Født 1942)</h2>

<p> 
Leder for Aikikai i det vestlige Japan, og en av landets ledende Aikido-instruktører. Trente under grunnleggeren. Dro til Fukuoka i Kyushu i 1970 og startet mange treningssteder. 
Suganuma sensei er også en anerkjent kalligrafi-mester. Klubben har mottatt to kalligrafier fra Suganuma sensei. Han praktiserer også
Zen-meditasjon og har skrevet bøker om den tilhørende filosofien. Suganuma sensei instruerer på sommerleiren til Norges Aikido Forbund hvert år.
</p> 
 
<p> 
Video fra 1986 <a href="http://www.youtube.com/watch?v=P22BO8Z1ozg">her</a> (Youtube) <br /> 
Video fra 2009 <a href="http://www.youtube.com/watch?v=xtwY3uAMixI">her</a>. (Youtube)
</p> 



<h2>Kanetsuka, Minoru - 7.dan Aikikai, 2. dan Yoshinkan (Født 1939)</h2>

<p> 
Teknisk direktør for BAF (British Aikido Federation) siden 1977 og teknisk ansvarlig for Aikido i Hellas, Nederland og Sør-Afrika. Kanetsuka sensei begynte å trene i stilarten Yoshinkan Aikido for grunnleggeren Shioda Gozo sensei samt Fujita sensei som student ved Takushoku universitetet i Tokyo. Etter å ha avsluttet utdannelsen dro han til Nepal, hvor han blant annet instruerte kongefamilien og politistyrkene. I 1972 kom Kanetsuka sensei til England som assistent for daværende teknisk direktør i BAF, Chiba sensei. Kanetsuka sensei er for tiden bosatt i London hvor han har sin egen dojo, <a href="http://www.ryushinkan.org/details.htm">Ryushinkan</a>. Han instruerer på vinterleir hvert år i Oslo.
</p> 
 
<p> 
Video fra ca 1975 <a href="http://www.youtube.com/watch?v=UcxaB2mx8Ig">her</a> (Youtube) <br /> 
Video fra 1993 <a href="http://www.youtube.com/watch?v=v-JN6QUdqJ8">her</a>. (Youtube) <br /> 
Video fra 2007 <a href="http://www.youtube.com/watch?v=fKY9VwHL758">her</a>. (Youtube)
</p>


<h2>Olsen, Bjørn Erik - 6.dan Aikikai (Født 1955)</h2>

<p> 
En av de første som trente Aikido i Norge. Trente for Kanetsuka sensei i England i 1979 og senere intensivt hos Suganuma sensei i to år ved hans dojo i Fukuoka. Jobbet ved den kongelige norske ambassade i Tokyo i perioden 1991-1994, og trente både Aikido og Kashima Shinryu Kenjutsu for Inaba sensei. Leder for tiden dojoen <a href="http://aikido.no/reimeikan/show.php?page=front">Reimeikan</a> i Tromsø. <a href="http://www.dn.no/borspause/article939822.ece">Her</a> er en artikkel om ham fra 2006 i Dagens Næringsliv.
</p> 
 
<p> 
Video fra 2009 <a href="http://www.youtube.com/watch?v=QRQA_3XWbmI">her</a>. (Youtube) <br /> 
Video fra 2009 <a href="http://www.youtube.com/watch?v=_OOCL-mnGCA">her</a>. (Youtube)
</p> 



<h2>Sørensen, Birger - 5.dan Aikikai (Født 1955)</h2>

<p> 
Grunnla Norges første Aikidoklubb i Tromsø høsten 1977. Startet å trene Judo for E. Hansen og G. Eldjarn i 1971. 
Dro i 1976 til London med mål om å trene Judo, endte i stedet opp med å trene Aikido på heltid for <a href="http://www.bafonline.org.uk/baf/ksensei.html">Kanetsuka shihan</a> til 1977. Var dennes uke på helgekurs rundt om i England i denne perioden. Trente i tillegg Zazen under Fukuda sensei, samt Iaido. Ledet lenge dojoen Grenland Aikido i Skien, før han flyttet hovedfokuset av treningen sin til Oslo i 2008. Trener for tiden mest i <a href="http://www.sentrumaikido.org">Sentrum Aikidoklubb</a> og <a href="http://www.osi.uio.no/aikido">OSI Aikido</a>, og holder treningsleire for oss hvert semester.
</p> 
