<h1>Avtal en gratis prøvetime</h1>

<p>Ta kontakt med en av de hyggelige nybegynner-instruktørene våre for en uforpliktende prøvetime i våre lokaler!</p>

<p><table>
<tr>
<td>
<strong>Claire Coutris</strong><br/>
<a href="mailto:claire.coutris@hotmail.fr">Email</a>
</td>
<td>
<img alt="Claire" height="150" src="/images/webGrafikk/trenere/claire.png" />
</td>
</tr>

<tr>
<td>
<strong>Geir Amdal</strong><br/>
<a href="mailto: gam@grok.no">Email</a>
</td>
<td>
<img alt="Geir" height="150" src="/images/webGrafikk/trenere/geir.png" />
</td>
</tr>
</table>
</p>
<p>
Veibeskrivelse og øvrig kontaktinformasjon finner du <a href="/home/contact">her</a>. Les gjerne mer om nybegynnertreningene våre <a href="/home/beginners">her</a>.
</p>
