<h1>Avtal en gratis prøvetime</h1>

<p>Ta kontakt med en av de hyggelige nybegynner-instruktørene våre for en uforpliktende prøvetime i våre lokaler!</p>

<p><table>
<tr>
<td>
<strong>Trond Pedersen (2. dan)</strong><br/>
<a href="mailto:badboypedersen@gmail.com">Email</a>
</td>
<td>
<img alt="Trond" height="150" src="/images/webGrafikk/trenere/trond.jpg?1235155870" />
</td>
</tr>

<tr>
<td>



<tr>
<td>
<strong>Geir Amdal (1.kyu)</strong><br/>
<a href="mailto: gam@grok.no">Email</a>
</td>
<td>
<img alt="Geir" height="150" src="/images/webGrafikk/trenere/geir.png" />
</td>
</tr>
</table>
</p>
<p>
Veibeskrivelse og øvrig kontaktinformasjon finner du <a href="/home/contact">her</a>. Les gjerne mer om nybegynnertreningene våre <a href="/home/beginners">her</a>.
</p>
