<h1>Priser hos Sentrum Aikido</h1>

<h2>Medlemsskap</h2>

<p>Vi betaler treningsavgift en gang pr. halvår, i periodene
januar-juni/juli-desember. Hvis du er nybegynner betaler du 1500,- for
den første perioden, og deretter vanlig medlemsavgift, 2300,- for
neste periode.</p>

<p>Hvis du ønsker å begynne sent i en periode, kan du betale 500,- pr.
gjenstående måned resten av perioden.</p>



<h2>Besøkere</h2>


<p>For personer som ikke er medlemmer hos oss koster det 50,- pr økt,
betales til instruktør på økta eller direkte til vårt kontonummer i
etterkant.</p>

<p>Studenter som er medlemmer i OSI Aikido trener gratis hos oss.</p>


<h2>Materiell</h2>

<p>Medlemmer kan kjøpe rimelige drakter (gi) direkte fra klubben for
400,- pr. stk.</p>


<h2>Betalingsmåte</h2>

<p>Betalinger av medlemsavgifter o.l. kan gjøres til klubbens kontonr:
0539 5613024.  I kommentarfeltet til betaling ser vi gjerne at dere
oppgir fødselsdato og postnummer.  Dette er noe vi trenger for
medlemskap og forsikring i Norges Kampsportforbund.</p>
