<h1>Sosialt</h1>

		<p><strong>Sosialkomiteen</strong> tar initiativ til aktiviteter av en sosial karakter. Men de
		gjør ikke arbeidet alene! Komitteen er felles for Sentrum Aikido og <a href="http://www.osi.uio.no/aikido">OSI Aikido</a>, og
		alle medlemmer i begge klubber anmodes om å bidra. :) Se maillista, muntlig beskjed på trening og
		<a href="http://sentrumaikido.org/calendar">kalenderen</a> for kommende arrangementer.</p>


		<p>
		<a href="http://www.osi.uio.no/aikido/arkiv.php">Her</a> finner du bilder fra tidligere arrangementer og hendelser hos OSI Aikido og Sentrum Aikido.
		</p>




	<h2>Har du forslag til arrangementer?</h2>

	<p>Ta kontakt med en av komiteens medlemmer:</p>

	<p>	Hans O. Martinsen<br />
		E-post: <a href="mailto:hanso ved rollespill.no">hanso ved rollespill.no</a></p>
	<p>
		Paul Tvete<br/>
    	E-post: <a href="mailto:paul ved troll.no">paul ved troll.no</a></p>





    <p>  <img alt="Demonstrasjon av korrekt hyttetur-stemning." src="/images/webGrafikk/sosialeFolk.jpg?1235155872" />
     <em>Demonstrasjon av korrekt hyttetur-stemning.</em></p>
