<h1>Sentrale Aikido-uttrykk</h1>

<p><table>


<tr><td>Aikido</td><td>Den harmoniske kraftens vei</td></tr>


<tr><td>Bokken</td><td>Tresverd</td></tr>


<tr><td>Budo</td><td>Samlingsuttrykk for all japansk kampsport, "Kampens vei"</td></tr>	


<tr><td>Dan</td><td>Grad (mester)	</td></tr>	


<tr><td>Dojo</td><td>Treningssted, "Veiens sted"</td></tr>


<tr><td>Gi</td><td>Treningsdrakt	</td></tr>


<tr><td>Hakama</td><td>Vide bukser eller bukseskjørt	</td></tr>	


<tr><td>Jo</td><td>Trestav (ca. 1.3m)	</td></tr>	


<tr><td>Kohai</td><td>En utøver mindre erfaren enn en selv	</td></tr>	


<tr><td>Kokyo</td><td>Pust. En viktig del av Aikido er utviklingen av Kokyu </td></tr>


<tr><td>Kokyu Rokyu</td><td>Pustekraft		</td></tr>


<tr><td>Kyu</td><td>Grad (elev)		</td></tr>


<tr><td>Mokuso</td><td>Meditasjon		</td></tr>


<tr><td>Nagare</td><td>Flytende (teknikk)	</td></tr>


<tr><td>Sempai</td><td>En utøver mer erfaren enn en selv</td></tr>		


<tr><td>Tanto</td><td>Kniv</td></tr>


<tr><td>Tore</td><td>Den som utfører teknikken (forsvarer)		</td></tr>


<tr><td>Uke</td><td>Den som teknikken blir utført på (angriper)	</td></tr>	


<tr><td>Zanshin</td><td>Gjenværende ånd.</td></tr>


</table>
</p>







<h3>Tall</h3>




<p>
<table>


<tr><td>Ichi</td><td>1</td></tr>


<tr><td>Ni</td><td>2</td></tr>


<tr><td>San</td><td>3</td></tr>


<tr><td>Shi (yon)</td><td>4</td></tr>


<tr><td>Go</td><td>5</td></tr>


<tr><td>Roku</td><td>6</td></tr>


<tr><td>Shihci</td><td>7</td></tr>


<tr><td>Hachi</td><td>8</td></tr>


<tr><td>Ku</td><td>9</td></tr>


<tr><td>Ju</td><td>10</td></tr>


<tr><td>Ju-ichi</td><td>11</td></tr>


<tr><td>Ju-ni</td><td>12</td></tr>


<tr><td>Ju-yon</td><td>14</td></tr>


<tr><td>Ni-ju</td><td>20</td></tr>


<tr><td>Hyaku</td><td>100</td></tr>


</table>
</p>







<h3>Kroppsdeler</h3>





<p><table>


<tr><td>Ashi</td><td>Steg/Fot</td></tr>


<tr><td>Hara</td><td>Mage</td></tr>


<tr><td>Hiza</td><td>Kne</td></tr>


<tr><td>Koshi</td><td>Hofte</td></tr>


<tr><td>Kubi</td><td>Hals/Nakke</td></tr>


<tr><td>Mune</td><td>Brystkasse</td></tr>


<tr><td>Tai</td><td>Kropp</td></tr>


<tr><td>Te</td><td>Hånd/Arm</td></tr>


<tr><td>Ude</td><td>Arm</td></tr>


</table></p>








<h3>Høflighet og respekt</h3>





<p><table>


<tr><td>Domo arigato<br/>gazaimashita</td><td>Tusen takk (fortid)</td></tr>


<tr><td>Onegai shimasu</td><td>Vær så snill</td></tr>


<tr><td>Rei</td><td>Bukk, hilsen</td></tr>


</table>
</p>













<h3>Grunnteknikker (prinsipper)</h3>





<p><table>


<tr><td>Ikkyo</td><td>1. Kontroll av ukes albu fra innsiden</td></tr>


<tr><td>Nikkyo</td><td>2. Kontroll av håndledd m/bøying innover</td></tr>


<tr><td>Sankyo</td><td>3. Vridning av høndledd innover med albu opp</td></tr>


<tr><td>Yonkyo</td><td>4. Kontroll av armen med press mot innsiden av underarmen</td></tr>


<tr><td>Gokkyo</td><td>5. "Omvendt" ikkyo			</td></tr>


<tr><td>Rokkyo</td><td>6. Kontroll av albueleddet</td></tr>


</table></p>








<h3>Kamae (utgangsstillinger)</h3>





<p><table>


<tr><td>Ai-hanmi</td><td>Lik utgangsstilling mot partner (høyre mot høyre)</td></tr>


<tr><td>Gyaku-hanmi</td><td>Ulik utgangstilling mot partner (speilvendt)</td></tr>


<tr><td>Hanmi</td><td>Skråstilt kamae (med samme hånd og fot fremstilt)</td></tr>


<tr><td>Hanmi-handachi</td><td>Tore sitter og uke står</td></tr>


<tr><td>Hasso no kamae</td><td>"8-talls" stilling. (Dvs. japansk 8-tall)</td></tr>


<tr><td>Hidari-hanmi</td><td>Venstre fot frem</td></tr>


<tr><td>Hidari-kamae</td><td>Venstre utgangsstilling</td></tr>


<tr><td>Migi-hanmi</td><td>Høyre fot frem</td></tr>


<tr><td>Migi-kamae</td><td>Høyre utgangsstilling</td></tr>


<tr><td>Seiza</td><td>Sittestilling på knær</td></tr>


<tr><td>Kiza</td><td>Som seiza, men med tåballene i gulvet</td></tr>


</table></p>








<h3>Tai-sabaki (kroppsforflyttninger)</h3>








<p><table>


<tr><td>Dai-Irimi-tenkan</td><td>Dypt steg inn bak uke og snu rundt (med steg bak)</td></tr>	


<tr><td>Irimi</td><td>Å et steg inn/frem i forhold til angrepet	</td></tr>	


<tr><td>Irimi-sokumen</td><td>Glidesteg inn med vridning mot angrepslinjen</td></tr>		


<tr><td>Irimi-Tenkan</td><td>Steg inn i forhold til angrepet og snu rundt (med steg bak)</td></tr>		


<tr><td>Kaiten</td><td>180 grader hoftedreining uten å flytte beina	</td></tr>	


<tr><td>Shikko</td><td>Knegåing		</td></tr>


<tr><td>Sokumen</td><td>Vending inn mot siden av uke		</td></tr>


<tr><td>Tai no hneko</td><td>Se tenkan		</td></tr>


<tr><td>Tenkan</td><td>Snu rundt 180 grader forhold til angrepet (hoftevridning med steg bakover)</td></tr>		


<tr><td>Tsugi-ashi</td><td>Glidesteg		</td></tr>


<tr><td>Uchikaiten-irimi</td><td>Gå inn under ukes arm og snu rundt	</td></tr>	


<tr><td>Uchikaiten-sankyo</td><td>Gå inn under ukes arm og gjør sankyo</td></tr>		


<tr><td>Ushiro-irimi</td><td>Steg inn i forhold til et angrep bakfra	</td></tr>	


<tr><td>Ushiro-tenkan</td><td>Steg inn og snu rundt i forhold til et angrep bakfra</td></tr>


</table></p>








<h3>Retninger og posisjon</h3>








<p><table>


<tr><td>Chudan</td><td>Midtre </td></tr>


<tr><td>Gedan</td><td>Nedre posisjon	</td></tr>


<tr><td>Hidari</td><td>Venstre	</td></tr>


<tr><td>Jodan</td><td>Øvre posisjon	</td></tr>


<tr><td>Mae</td><td>Frem/forover	</td></tr>


<tr><td>Migi</td><td>Høyre	</td></tr>


<tr><td>Omote</td><td>Front/forside	</td></tr>


<tr><td>Shomen</td><td>Rett forfra	</td></tr>


<tr><td>Ushiro</td><td>Bakfra/bakover</td></tr>	


<tr><td>Yoko</td><td>Side	</td></tr>


<tr><td>Yokomen</td><td>Siden av hodet</td></tr>	


<tr><td>Zengo</td><td>Foran og bak	</td></tr>


<tr><td>Ura</td><td>Bak/bakside	</td></tr>


</table></p>








<h3>Imperativ</h3>








<p><table>


<tr><td>Hai</td><td>Ja</td></tr>


<tr><td>Matte</td><td>Vent</td></tr>


<tr><td>Suwatte</td><td>Sitt ned</td></tr>


<tr><td>Tatte</td><td>Stå opp</td></tr>


<tr><td>Yame</td><td>Stopp</td></tr>


</table></p>








<h3>Nage Waza (kastetekninkker)</h3>








<p><table>


<tr><td>Irimi-nage</td><td>Kast ved å gå inn bak/i uke</td></tr>


<tr><td>Kaiten-nage</td><td>Rotasjons kast	</td></tr>


<tr><td>Kokyo-nage</td><td>Puste kast (vanligvis kastes uke frem eller ut)</td></tr>


<tr><td>Koshi-nage</td><td>Hofte kast</td></tr>


<tr><td>Kote-gaeshi</td><td>Vridning av ukes håndledd utover</td></tr>


<tr><td>Shiho-nage</td><td>Fire hjørners kast. Grip ukes arm og gå inn under den, kaiten, kast med glidesteg	</td></tr>			


<tr><td>Soto kaiten-nage</td><td>Rotasjonskast på utsiden av ukes arm</td></tr>


<tr><td>Sumi-otoshi</td><td>Hjørne kast (uke felles i den retning hvor hans balanse er dårligst)</td></tr>


<tr><td>Tenchi-nage</td><td>Himmel og jord kast</td></tr>


<tr><td>Uchi kaiten-kokyo-nage</td><td>Gå inn under armen til uke, snu rundt og kast	</td></tr>	


<tr><td>Uchi kaiten-nage</td><td>Rotasjonskast fra innsiden (kutt ned i sirkel og grip ukes arm og hode</td></tr>		


<tr><td>Uchi kaiten-sankyo</td><td>Uchi-kaiten-irimi og rett inn i sankyo</td></tr>


</table></p>











<h3>Angrep</h3>








<p><table>


<tr><td>Eri-dori</td><td>Holde i kragen bak i nakken	</td></tr>				


<tr><td>Furi-tsuki</td><td>Glideslag, slag nedenfra og opp mot ansikt</td></tr>					


<tr><td>Kata-dori</td><td>Holde i ene skulderen			</td></tr>		


<tr><td>Katate-dori</td><td>Holde rundt håndleddet med en hånd	</td></tr>				


<tr><td>Morote-dori</td><td>Holde rundt håndleddet med begge hender	</td></tr>				


<tr><td>Mune-dori</td><td>Holde jakkeslag/bryst forfra med en hånd	</td></tr>				


<tr><td>Ryo-kata-dori</td><td>Holde i begge skuldrene		</td></tr>			


<tr><td>Ryote-dori</td><td>Holde begge håndledd med begge hender	</td></tr>				


<tr><td>Ryote-mochi</td><td>Det å bli grepet av to hender		</td></tr>			


<tr><td>Shomen-uchi</td><td>Håndkanteslag rett forfra mot pannen	</td></tr>				


<tr><td>Sode-dori</td><td>Holder ermet nedenfor albuen		</td></tr>			


<tr><td>Tsuki</td><td>Rett slag med knyttet hånd			</td></tr>		


<tr><td>Uchi</td><td>Kutt (håndkantslag) eller På innsiden/inn under	</td></tr>				


<tr><td>Ushiro kubi shime</td><td>Kvelertak bakfra (+ et håndledd holdt)</td></tr>					


<tr><td>Ushiro-dori</td><td>Uke holder tore bakfra			</td></tr>		


<tr><td>Yokomen-uchi</td><td>Håndkanteslag på skrå fra siden mot tinning/hals</td></tr>


</table></p>








<h3>Øvelser og teknikker</h3>





<p><table>


<tr><td>Atemi-waza</td><td>Slag for å distrehere eller bryte balansen</td></tr>					


<tr><td>Furitama</td><td>Risteøvelse/sentreringsøvelse som gjøres etter torifune</td></tr>					


<tr><td>Hanshinundo</td><td>Ryggstrekk der uke legges oppå ens egen rygg</td></tr>					


<tr><td>Happo-giri</td><td>Åtte-hjørners kutt			</td></tr>		


<tr><td>Henka-waza</td><td>Variasjoner av en teknikk			</td></tr>		


<tr><td>Ikkyo-shiho-giri</td><td>Fire-hjørners kutt med bevegelse nedenfra som ved shomen-uchi-ikkyo mottak	</td></tr>


<tr><td>Irimo-ho</td><td>Irimi-øvelse (en pustekraft-øvelse med ryggstrekk			</td></tr>		


<tr><td>Jiu-waza</td><td>Friteknikk					</td></tr>


<tr><td>Jo-dori</td><td>Jo-tagning (avvæpning				</td></tr>	


<tr><td>Kihon-waza</td><td>Grunnleggende teknikk (basic)</td></tr>		


<tr><td>Kokyo-ho</td><td>Pustemetode/teknikk (eg. kokkyo-ryoku yosei-ho)	</td></tr>				


<tr><td>Kumijo</td><td>Jo-øvelse med partner					</td></tr>


<tr><td>Kumitachi</td><td>Bokken-øvelse med partner				</td></tr>	


<tr><td>Mae-ukemi</td><td>Forlengs fallteknikk				</td></tr>	


<tr><td>Omote-waza</td><td>Teknikk mot ukes front (positiv			</td></tr>		


<tr><td>Shiho-giri</td><td>Fire-hjørners kutt. Gli inn og kutt i fire retninger</td></tr>					


<tr><td>Sotai-dosa</td><td>Generelle øvelser (m/partner			</td></tr>		


<tr><td>Suburi</td><td>Grunnleggende jo eller bokken teknikker		</td></tr>			


<tr><td>Suwari-waza</td><td>Sittende teknikk				</td></tr>	


<tr><td>Tachi-dori</td><td>Sverd tagning (avvæpning)					</td></tr>


<tr><td>Tachi-waza</td><td>Stående teknikk					</td></tr>


<tr><td>Tandoku-dosa</td><td>Individuelle øvelser					</td></tr>


<tr><td>Tanto-dori</td><td>Kniv-tagning (avvæpning)					</td></tr>


<tr><td>Tenkan-ho</td><td>Tenkan-øvelse med strekk av partner					</td></tr>


<tr><td>Torifune</td><td>Roøvelse. Vanlig eller dyp					</td></tr>


<tr><td>Ukemi-waza</td><td>Fallteknikk, "Motta med kroppen"					</td></tr>


<tr><td>Ura-waza</td><td>Teknikk mot ukes rygg/bakside (negativ)					</td></tr>


<tr><td>Ushiro-ukemi</td><td>Baklengs fallteknikk	</td></tr>


<tr><td>Ushiro-waza</td><td>Teknikk mot et angrep bakfra</td></tr>


</table></p>
